flask[async]
schedule
requests
python-dotenv
httpx[http2]
aiohttp
protobuf
certifi
pandas
google-generativeai
# Убрана версия, так как 0.6.0 не существует. Pip установит последнюю бету (0.2.0b...)
tinkoff-invest-python
numpy
